@media screen and (max-width: 1120px) {
    #jogo-megasena {
        position: relative;
        margin: auto auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    #botoesCentral {
        display: contents;

    }
}